<!-- To be filled in to display recommendations -->
<!-- ID necessary for the overlay on users#review -->
<div id="rec-<%= @recommendation.id %>-details" style="visibility: hidden; width:100%; height:100%; position: absolute; z-index:1000; left:0px; top:0px">
  <!-- Modal with recommendation info -->
  <div style="width:600px; background-color: #fff; border:1px solid #000; margin: 100px auto; padding:15px">
    Description: <%= @recommendation.description %><br>
    Type: <%= @recommendation.category %><br>
    Words that describe <%= @recommendation.title %><br>

     <%= render 'feedback' %>
  </div>
</div>

