<h4 class="col-md-offset-2">Given the opportunity to discover new things, what would you be interested in receiving recommendations for?</h4>
<h4 class="col-md-offset-2">Check all that apply<h4>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= form_for(:user, url: signup_2_path) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :firstName, "Things to read" %><br>
      <%= f.check_box(:firstName) %><br>

      <%= f.label :lastName, "Last Name" %><br>
      <%= f.text_field :lastName %><br>

      <%= f.label :email %><br>
      <%= f.email_field :email %><br>

      <%= f.label :username %><br>
      <%= f.text_field :username %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation, "Password Confirmation" %><br>
      <%= f.password_field :password_confirmation %><br>

      <%= f.label :birthday, "Birthday" %><br>
      <%= f.date_field :birthday,
                       #:data => {:provide => "datepicker"},
                       class: "datepicker-form", 
                       #:placeholder => "MM/DD/YYY" %><br>

      <%= f.label :location, "Location (Optional)" %><br>
      <%= f.text_field :location %><br>

      <%= f.submit "Next", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
