<!DOCTYPE html>
<html>
<head>
  <title>Telmi.Life</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <nav>
    <!--<ul class="nav navbar-fixed-top">
      <li>DATALIKEME</li>
    </ul> -->
  </nav>
</header>
<body>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>

</body>
</html>
